<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "https://www.w3.org/TR/html4/strict.dtd">
<!-- saved from url=(0103)https://mail.google.com/mail/u/1?ui=2&ik=4d87a74ade&view=lg&permmsgid=msg-f%3A1700293459072749336&ser=1 -->
<html lang="pt-BR"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><style type="text/css" nonce="">
body,td,div,p,a,input {font-family: arial, sans-serif;}
</style><meta http-equiv="X-UA-Compatible" content="IE=edge"><link rel="shortcut icon" href="https://ssl.gstatic.com/ui/v1/icons/mail/rfr/gmail.ico" type="image/x-icon"><title>Gmail - Enc: Pedido Solicitado</title><style type="text/css" nonce="">
body, td {font-size:13px} a:link, a:active {color:#1155CC; text-decoration:none} a:hover {text-decoration:underline; cursor: pointer} a:visited{color:##6611CC} img{border:0px} pre { white-space: pre; white-space: -moz-pre-wrap; white-space: -o-pre-wrap; white-space: pre-wrap; word-wrap: break-word; max-width: 800px; overflow: auto;} .logo { left: -7px; position: relative; }
</style><style type="text/css"></style></head><body><div class="bodycontainer"><div class="maincontent"><table width="100%" cellpadding="0" cellspacing="0" border="0" class="message"><tbody><tr></tr><tr><td colspan="2"><table width="100%" cellpadding="12" cellspacing="0" border="0"><tbody><tr><td><div style="overflow: hidden;"><font size="-1">
<div dir="ltr" style="font-size:12pt;color:#000000;background-color:#ffffff;font-family:Calibri,Arial,Helvetica,sans-serif">


<div id="m_-6723973469204511863Signature">

</div>
<div style="background-color:#efefef;font-family:Arial,helvetica,sans-serif;line-height:100%;font-size:16px;color:#000000;padding:0px">


<div>
<table width="100%" border="0" cellpadding="0" cellspacing="0" align="center">
<tbody>
<tr>
<td align="center" valign="top"></td>
</tr>
<tr>
<td align="center">
<table cellspacing="0" cellpadding="0" border="0" width="600" align="center">
<tbody>
<tr>
<td>
<table cellspacing="0" cellpadding="0" bgcolor="#FFFFFF" width="100%" style="background-color:#ffffff;border:0px solid transparent;font-size:16px;font-family:Arial,helvetica,sans-serif;line-height:100%;color:#000000">
<tbody>
<tr>
<td align="center" valign="top">
<table align="left" border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td style="padding:0px 0px 0px 0px">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td align="center" valign="top">
<table align="left" border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td align="left" valign="top">
<table cellspacing="0" cellpadding="0" style="width:100%">
<tbody>
<tr>
<td valign="top" style="width:100%">
<table cellpadding="0" cellspacing="0" width="100%" style="background-color:#004E88;min-width:100%">
<tbody>
<tr>
<td style="padding:10px 10px 20px">
<table width="100%" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td align="center">
  <img alt="" height="50" width="100" style="display:block;padding:0px;text-align:center;height:50px;width:100px;border:0px" src="https://i.imgur.com/1IaCZan.png"></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<table cellpadding="0" cellspacing="0" width="100%" style="min-width:100%">
<tbody>
<tr>
<td style="padding:0px 30px">
<table cellpadding="0" cellspacing="0" width="100%" style="background-color:#f9f9f9;min-width:100%">
<tbody>
<tr>
<td style="padding:10px">
<h1 style="line-height:100%"><span style="font-size:22px"><span style="color:#004E88"><span style="font-family:Arial,Helvetica,sans-serif">Olá, {{user.name}}</span></span></span></h1>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<table cellpadding="0" cellspacing="0" width="100%" style="min-width:100%">
<tbody>
<tr>
<td style="padding:0px 30px">
<table cellpadding="0" cellspacing="0" width="100%" style="background-color:#004E88;min-width:100%">
<tbody>
<tr>
<td style="padding:10px">
<div style="text-align:center"><b><span style="color:#ffffff">RECEBEMOS SUA SOLICITAÇÂO!</span></b></div>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<table cellpadding="0" cellspacing="0" width="100%" style="min-width:100%">
<tbody>
<tr>
<td style="padding:0px 30px">
<table cellpadding="0" cellspacing="0" width="100%" style="background-color:#f9f9f9;min-width:100%">
<tbody>
<tr>
<td style="padding:0px">
<table width="100%" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td align="center">
  <img alt="" height="205" width="250" style="display:block;padding:0px;text-align:center;height:205px;width:250px;border:0px" src="https://i.imgur.com/r0WU0nU.png"></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>

<table cellpadding="0" cellspacing="0" width="100%" style="min-width:100%">
<tbody>
<tr>
<td style="padding:0px 30px">
  <table cellpadding="0" cellspacing="0" width="100%" style="background-color:#f9f9f9;min-width:100%">
  <tbody>
  <tr>
  <td style="padding:20px">
    <div style="text-align:left">
      <span>
        Recebemos sua solicitação para instalação da nossa internet!
      </span>
    </div>
  </td>
  </tr>
  </tbody>
  </table>
</td>
</tr>
</tbody>
</table>

<table cellpadding="0" cellspacing="0" width="100%" style="min-width:100%">
<tbody>
<tr>
<td style="padding:0px 30px">
  <table cellpadding="0" cellspacing="0" width="100%" style="background-color:#f9f9f9;min-width:100%">
  <tbody>
  <tr>
  <td style="padding:10px">
    <table cellspacing="0" cellpadding="0" style="width:100%">
    <tbody>
    <tr>
    <td>
      <table cellspacing="0" cellpadding="0" style="width:100%">
      <tbody>
      <tr>
      <td valign="top" style="width:50%;padding-right:3px">
        <table cellpadding="0" cellspacing="0" width="100%" style="min-width:100%">
        <tbody>
        <tr>
        <td style="padding:12px">
        <table cellpadding="0" cellspacing="0" width="100%" style="background-color:#004E88;min-width:100%">
        <tbody>
        <tr>
        <td style="padding:30px"><span style="color:#ffffff">Nome:<br>{{user.name}}<br>
        <br>
        Plano:<br>
        {{productName}}</span></td>
        </tr>
        </tbody>
        </table>
        </td>
        </tr>
        </tbody>
        </table>
      </td>
      <td valign="top" style="width:50%;padding-left:3px">
        <table cellpadding="0" cellspacing="0" width="100%" style="min-width:100%">
        <tbody>
        <tr>
        <td style="padding:10px">
        <table cellpadding="0" cellspacing="0" width="100%" style="background-color:#004E88;min-width:100%">
        <tbody>
        <tr>
        <td style="padding:30px"><span style="color:#ffffff">CPF:<br>
        {{user.cpfCnpj}}<br>
        <br>
        Valor:<br>
        {{totalPrice}}</span></td>
        </tr>
        </tbody>
        </table>
        </td>
        </tr>
        </tbody>
        </table>
      </td>
      </tr>
      </tbody>
      </table>
    </td>
    </tr>
    </tbody>
    </table>
  </td>
  </tr>
  </tbody>
  </table>
</td>
</tr>
</tbody>
</table>

  <table cellpadding="0" cellspacing="0" width="100%" style="min-width:100%">
  <tbody>
  <tr>
  <td style="padding:0px 30px 20px">
    <table cellpadding="0" cellspacing="0" width="100%" style="background-color:#f9f9f9;min-width:100%">
    <tbody>
    <tr>
    <td style="padding:20px">
    <div>

      <span>
        Estamos trabalhando para atendê-lo(a), então fique atento(a) que em breve um de nosssos atendentes entrará em contato para concluir o seu pedido!
      </span>
      <br>
      <br>
      <span>
        <b>Agradecemos pela confiança na VIP BR Telecom!</b>
      </span>
      <br>
      &nbsp;
    </div>
    <hr>
    <div style="text-align:center">
    <br>
      <span style="color:#004E88">
        <span style="font-size:17px">
          <b>
            QUEM É VIP
            <br>
            <br>
            TEM A MELHOR CONEXÃO.
            <br>
          </b>
        </span>
      </span>
    <br>
    <span style="font-size:13px">
      <span style="color:#999999">
        Em caso de dúvidas, fale conosco pelo telefone 0800 735 7504 ou através das nossas redes sociais.
      </span>
    </span>
    </div>
    </td>
    </tr>
    </tbody>
    </table>

  </td>
  </tr>
  </tbody>
  </table>

  <table cellpadding="0" cellspacing="0" width="100%" style="background-color:#f7f7f7;min-width:100%">
  <tbody>
  <tr>
  <td style="padding:0px">
    <table cellpadding="0" cellspacing="0" width="100%">
    <tbody>
    <tr>
      <td align="center">
        <table cellpadding="0" cellspacing="0" align="center">
        <tbody>
        <tr>
        <td align="center">
          <table style="display:inline-block">
          <tbody>
          <tr>
          <td style="padding:5px 10px">
            <a href="https://www.facebook.com/vipconectavoce/" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=pt-BR&amp;q=https://www.facebook.com/vipconectavoce/&amp;source=gmail&amp;ust=1621612629276000&amp;usg=AFQjCNE7h7nybzIRxqHm6iaD4OEq3dgU5w">
              <img alt="Facebook" width="24" height="24" style="display:block;width:24px!important;height:24px!important" src="https://i.imgur.com/qXuwlXY.png">
            </a>
          </td>
          </tr>
          </tbody>
  
          </table>
          <table style="display:inline-block">
          <tbody>
          <tr>
            <td style="padding:5px 10px">
              <a href="https://www.instagram.com/vipbrtelecom/" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=pt-BR&amp;q=https://www.instagram.com/vipbrtelecom/&amp;source=gmail&amp;ust=1621612629276000&amp;usg=AFQjCNGXRi08CfyJEoqq0-H-fjs0N43rbQ">
                <img alt="Instagram" width="24" height="24" style="display:block;width:24px!important;height:24px!important" src="https://i.imgur.com/m8Ygxim.png">
              </a>
            </td>
          </tr>
          </tbody>
  
          </table>
          <table style="display:inline-block">
          <tbody>
          <tr>
            <td style="padding:5px 10px">
              <a href="https://www.youtube.com/channel/UCGyPT1doLd9SWYwb0opeffw?view_as=subscriber" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=pt-BR&amp;q=https://www.youtube.com/channel/UCGyPT1doLd9SWYwb0opeffw?view_as=subscriber&amp;source=gmail&amp;ust=1621612629276000&amp;usg=AFQjCNEPOLuwnzoUK0h-RVhpBErjc0_csw">
                <img alt="YouTube" width="24" height="24" style="display:block;width:24px!important;height:24px!important" src="https://i.imgur.com/mx7JKAp.png">
              </a>
            </td>
          </tr>
          </tbody>
          </table>
  
          <table style="display:inline-block">
          <tbody>
          <tr>
            <td style="padding:5px 10px">
              <a href="https://www.linkedin.com/company/viptelecom/" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=pt-BR&amp;q=https://www.linkedin.com/company/viptelecom/&amp;source=gmail&amp;ust=1621612629276000&amp;usg=AFQjCNGUzzf6O8caPi4DSooHGdFD4o7xzg">
                <img alt="LinkedIn" width="24" height="24" style="display:block;width:24px!important;height:24px!important" src="https://i.imgur.com/FRgfLLG.png">
              </a>
            </td>
          </tr>
          </tbody>
          </table>
        </td>
        </tr>
        </tbody>
        </table>
      </td>
    </tr>
    </tbody>
    </table>
  </td>
  </tr>
  </tbody>
  </table>

  <table cellpadding="0" cellspacing="0" width="100%" style="background-color:#004E88;min-width:100%">
  <tbody>
  <tr>
  <td style="padding:10px">
  <div style="text-align:center">
    <span style="color:#ffffff">
      <span style="font-size:13px">
        Este e-mail foi gerado automaticamente, por&nbsp;favor, não responda a essa mensagem.
      </span>
    </span>
  </div>
  </td>
  </tr>
  </tbody>
  </table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td valign="top"></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</font></div></td></tr></tbody></table></td></tr></tbody></table></div></div></body></html>